.profile {
  height: auto;
  width: 40em;
  margin-top: 5em;
  margin-left: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightcyan;
  border-radius: 5%;
}
